{% extends 'base_generic.html' %}
{% load bootstrap4 %}

{% block content %}
    <!-- header-end -->





<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


  <div class="card p-4">
    <div class=" image d-flex flex-column justify-content-center align-items-center mx-auto ">
       <img src="{{profile.image.url}}" height="100" width="100" />
      <span class="name mt-3"><h4>{{profile.user}}</h4> </span>
      <span class="idd"><h5>{{profile.user.email}}</h5></span>
  
      <div class="d-flex flex-row justify-content-center align-items-center mt-3">
        <span class="follow"><h6>Your Phone :</h6><span class="number"><h6>{{profile.phone_number}}</h6></span>  </span>
      </div>
      <div class="p-4">
        <a href="{% url 'accounts:profile_edit' %}" class="boxed-btn3 w-100">Edit Profile</a>
      </div>
      <!-- <div class="btn btn-secondary">
        <button class="btn1 btn-dark" href="{% url 'accounts:profile_edit' %}">Edit Profile</button>
      </div> -->
    </div>

<br>
<br>
<br>
<br>
{% endblock %}