    <footer>
        <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
            <ul class="social-icons">
                <li><a href="#">Facebook</a></li>
                <li><a href="https://twitter.com/AhmedHa13707652?t=qSwlKPo98ru8wkNAxE2DEA&s=09">Twitter</a></li>
                <li><a href="https://www.linkedin.com/in/ahmed-hamdy-93a390217">Linkedin</a></li>
            </ul>
            </div>
            <div class="col-lg-12">
            <div class="copyright-text">
                <p>
                Copyright © 2020 Company Name
                | Template by: <a href="https://www.phpjabbers.com/">PHPJabbers.com</a>
                </p>
            </div>
            </div>
        </div>
        </div>
    </footer>

